<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Question</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Quiz</h1>

<div id="progress">
    Question <span th:text="${index + 1}"></span> of
    <span th:text="${#lists.size(session.shuffledQuestions)}"></span>
</div>

<p></p>

<div id="timer-container">
    Time left: <span id="timer">60</span> seconds
</div>

<form th:action="@{/quiz}" method="post">
    <p><strong th:text="${index + 1}"></strong>. <span th:text="${question.title}"></span></p>

    <input type="hidden" name="index" th:value="${index}" />
    <input type="hidden" name="questionId" th:value="${question.id}" />

    <input type="radio" th:id="'A'" name="answer" th:value="${question.optionA}" th:checked="${question.userAnswer == question.optionA}">
    <label th:for="'A'" th:text="${question.optionA}"></label><br><br>

    <input type="radio" th:id="'B'" name="answer" th:value="${question.optionB}" th:checked="${question.userAnswer == question.optionB}">
    <label th:for="'B'" th:text="${question.optionB}"></label><br><br>

    <input type="radio" th:id="'C'" name="answer" th:value="${question.optionC}" th:checked="${question.userAnswer == question.optionC}">
    <label th:for="'C'" th:text="${question.optionC}"></label><br><br>

    <input type="radio" th:id="'D'" name="answer" th:value="${question.optionD}" th:checked="${question.userAnswer == question.optionD}">
    <label th:for="'D'" th:text="${question.optionD}"></label><br><br>

    <button type="submit" name="action" value="prev" th:if="${index > 0}">Previous</button>
    <button type="submit" name="action" value="next" th:text="${index + 1 == #lists.size(session.shuffledQuestions) ? 'Finish Quiz' : 'Next'}"></button>
</form>
<script>
    let timeLeft = 60;
    const timerDisplay = document.getElementById("timer");

    const countdown = setInterval(() => {
        timeLeft--;
        timerDisplay.textContent = timeLeft;

        if (timeLeft <= 0) {
            clearInterval(countdown);
            window.location.href = "/results";
        }
    }, 1000);
</script>
</body>
</html>
